<h1>配送先編集</h1>

<div class="address-edit">
  <%=form_with model:@address, url: address_path(@address.id),local:true do |f| %>

    <p>郵便番号</p>
      <%=f.text_field:postal_code %>
    <p>住所</p>
      <%=f.text_area:address %>
    <p>宛名</p>
      <%=f.text_field:name %>
    <br>
    <%=f.submit"変更" %>
  <% end %>
</div>