<h1>注文情報入力画面</h1>


<p>支払方法</p>
<%=form_with model:@order, local:true do |f| %>
<%=f.radio_button :payment_method, "credit_card" %>
<%=f.label :payment_method, "クレジットカード" %>

<%=f.radio_button :payment_method, "transfer" %>
<%=f.label :payment_method, "銀行振込" %>
<p>お届け先</p>



<% end %>