<h1>顧客一覧</h1>

<div class="container">
  <div class="row">

  <div class="col-lg-10">
        <table class="table table-striped">
        <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>会員ステータス</th>
            <th></th>
        </tr>

        <% @customers.each do |customer| %>
        <tr>
            <th><%=customer.id %></th>
            <th><%=link_to "#{customer.last_name} #{customer.first_name}" ,admin_customer_path(customer.id) %></th>
            <th><%=customer.email %></th>
            <th><%=customer.is_deleted %></th>
            <th><button><%=link_to"詳細",admin_customer_path(customer.id) %></button></th>
        </tr>
        <% end %>

        </table>
        <div class="col-md-4"></div>

    </div>

  </div>
</div>