<h1>顧客詳細画面</h1>

<table class="customer-detail">
  <tr>
      <th>氏名</th>
      <th><%= @customer.last_name %>  <%= @customer.first_name %></th>
  </tr>
  <tr>
      <th>郵便番号</th>
      <th><%= @customer.postal_code %></th>
  </tr>
  <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
  </tr>
  <tr>
      <th>電話番号</th>
      <th><%= @customer.telephone_number %></th>
  </tr>
  <tr>
      <th>メール</th>
      <th><%= @customer.email %></th>
  </tr>
  <tr>
      <th>会員ステータス</th>
      <th><%= @customer.is_deleted %></th>
  </tr>
</table>

<br>
<div class="customer-link">
  <%=link_to "編集する",edit_admin_customer_path(@customer.id) ,class: 'btn' %></button>
  <%=link_to "注文履歴一覧を見る",admin_root_path ,class: 'btn btn-default' %></button>
</div>