<h1>登録情報変更</h1>

<div class="customer">
<table>
  <%=form_with model:@customer, url: customer_path(@customer.id),local:true do |f| %>
  <tr>
    <th>氏名</th>
    <td><%=f.text_field :last_name %><%=f.text_field :first_name %></td>
  </tr>
  <tr>
    <th>シメイ</th>
    <td><%=f.text_field :last_name_kana %><%=f.text_field :first_name_kana %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%=f.text_field :postal_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%=f.text_area :address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%=f.text_field :telephone_number %></td>
  </tr>
  <tr>
    <th>メール</th>
    <td><%=f.text_field :email %></td>
  </tr>
</table>


  <%=f.submit"編集内容を保存" %>
  <% end %>
  <%=link_to"退会する",customers_unsubscribe_path %>
</div>