<h1>ジャンル一覧・追加</h1>

<div class="genre">
<%= form_with model:@genre , url: admin_genres_path ,local:true do |f| %>

  <h4>ジャンル名
    <%=f.text_field:name %>
    <%=f.submit'登録' %>
    <% end %>
  </h4>


  <table class="genre-table">
    <tr class="genre-table-title">
      <th class="genre-table-top">
        ジャンル
      </th>
      <th></th>
    </tr>
    <% @genres.each do |genre| %>
    <tr>
      <th><%=genre.name %></th>
      <td><%=link_to "編集する",edit_admin_genre_path(genre) ,class: 'btn' %></td>
    </tr>
    <% end %>
  </table>
</div>


