<header>
  <%=link_to"商品一覧へ",admin_items_path %>
</header>

<h1>ジャンル管理画面</h1>

<h2>ジャンル一覧</h2>
<% @genres.each do |genre| %>
<h4>ジャンル名 : <%=genre.name %></h4>
<%=link_to "編集",edit_admin_genre_path(genre)%>
<% end %>

<h2>ジャンルデータ登録</h2>
<%= form_with model:@genre , url: admin_genres_path ,local:true do |f| %>

  <h4>ジャンル名</h4>
  <%=f.text_field:name %>

  <br><%=f.submit'登録' %>
<% end %>