<h1>商品詳細</h1>

<div class="customer-item">
  <%=form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
  <div class="item-detail">
    <div>
      <p><%=attachment_image_tag @item, :image, :fill, 300, 300, fallback: 'no_image.jpg' %></p>
    </div>
    <div class="item-detail-text">
      <p>商品名 : <%=@item.name %></p>
      <p>商品説明 : <%=@item.introduction %></p>
      <p>税抜価格 : <%=@item.price %></p>

      <%=f.hidden_field :item_id, value: @item.id %>
      <%=f.hidden_field :customer_id, value: current_customer.id %>
      <%=f.select :amount, [['1個',1],['2個',2],['3個',3],['4個',4],['5個',5],['6個',6],['7個',7],['8個',8],['9個',9]] %>
      <%=f.submit'カートに入れる' %>
    </div>
  </div>
  <% end %>

</div>



