<h1>商品詳細</h1>

<p>商品名 : <%=@item.name %></p>
<p></p>
<p>商品説明 : <%=@item.introduction %></p>
<p>税抜価格 : <%=@item.price %></p>
<p>販売ステータス : <%=@item.is_active %></p>
<p>個数 :
  <%=form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
  <%=f.hidden_field :item_id, value: @item.id %>
  <%=f.hidden_field :customer_id, value: current_customer.id %>
  <%=f.select :amount, [['1個',1],['2個',2],['3個',3],['4個',4],['5個',5],['6個',6],['7個',7],['8個',8],['9個',9]] %>
  <%=f.submit'カートに入れる' %>
  <% end %>
</p>



